## 01. Importing Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [2]:
df_ords = pd.read_csv (r'C:\Users\dmlos\Instacart Basket Analysis\02 Data\Original Data\orders.csv', index_col = False)

#importing orders data from the project folder

In [3]:
df_prods = pd.read_csv (r'C:\Users\dmlos\Instacart Basket Analysis\02 Data\Original Data\products.csv', index_col = False)

#importing products data from the project folder

#### Data Wrangling

In [4]:
#Dropping the eval_set column from orders.csv
df_ords.drop(columns = ['eval_set'])

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [5]:
#Looking for missing values
df_ords['days_since_prior_order'].value_counts(dropna =  False)

30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: days_since_prior_order, dtype: int64

In [6]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [7]:
df_ords['order_id'].dtype

dtype('int64')

In [15]:
#Importing data set departments.csv
df_dep = pd.read_csv(r'C:\Users\dmlos\Instacart Basket Analysis\02 Data\Original Data\departments.csv', index_col = False)

In [16]:
path = (r'C:\Users\dmlos\Instacart Basket Analysis')

In [17]:
#Attempting to import data set departments.csv
df_dep = pd.read_csv (os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

In [18]:
df_dep.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [19]:
#Transposing df_dep
df_dep.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [20]:
#Revising dataframe to show the transposed data, with columns flipped to rows
df_dep_t = df_dep.T

In [21]:
df_dep_t

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [22]:
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [23]:
#Take the first row of df_dep_t for the header
new_header = df_dep_t.iloc[0]

In [24]:
new_header

0    department
Name: department_id, dtype: object

In [25]:
#Take the data under the header row for a new dataframe
df_dep_t_new = df_dep_t[1:]

In [26]:
df_dep_t_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [27]:
#set the header row as the dataframe header
df_dep_t_new.columns = new_header

In [28]:
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [ ]:
df_dep_t_new

In [ ]:
data_dict = df_dep_t_new.to_dict('index')

In [ ]:
data_dict

In [ ]:
df_prods.head()

In [ ]:
print(data_dict.get('19'))

In [ ]:
df_prods['department_id']==19

In [ ]:
df_prods[df_prods['department_id']==19]

In [ ]:
df_snacks = df_prods[df_prods['department_id']==19]

In [ ]:
df_snacks.head()

#### Exercise 4.4 Procedures

In [ ]:
df_ords.columns

In [ ]:
#Data types within df_ords
df_ords.dtypes

In [ ]:
#First five rows from df_ords
df_ords.head(5)

In [ ]:
# 2.) Changes user_id data type to string within df_ords data set.
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [ ]:
df_ords['user_id'].dtype

In [ ]:
df_ords.dtypes

In [ ]:
# 3.) Renaming order_dow column to orders_day_of_week in the df_ords data set
df_ords.rename(columns = {'order_dow':'orders_day_of_week'}, inplace = True)

In [ ]:
#Finding the busiest hour for placing orders
df_ords['order_hour_of_day'].value_counts (dropna = False)

###### 4.) The busiest hour for orders is the 10th hour, as seen above. Going by the above frequency list, the busiest times for orders are 10-11 AM and 12-4PM. Conversely, the slowest time is in the early morning hours from 12-5 AM.

In [ ]:
df_ords.head()

In [ ]:
df_ords.reset_index()

In [ ]:
#Finding columns from df_prods data set
df_prods.head()

In [ ]:
df_prods.head(100)

In [ ]:
df_prods.drop(columns = ['product_id','prices', 'product_name'])

In [ ]:
df_prods_new = df_prods.drop(columns = ['product_id'])

In [ ]:
df_prods_new

#### 5.) Using the data dictionary created earlier in the exercise from the departments.csv, we know that the a value of '4' as a department_id represents 'produce.'

In [ ]:
df_prods.drop(columns = ['product_id'])

In [ ]:
df_prods_sales_info = df_prods.drop(columns = ['product_id'])

In [ ]:
df_prods_sales_info

In [ ]:
#Creating a subset that contains breakfast item sales
df_prods_breakfast_item = df_prods_sales_info [df_prods_sales_info ['department_id']== 14]

In [ ]:
#6.) Subset containing breakfast item sales
df_prods_breakfast_item

In [ ]:
#7.) All observations including: alcohol, deli, beverages, and meat/seafood.
df_prods_alcohol_deli_beverages_meat_seafood = df_prods [df_prods['department_id'].isin([5, 20, 7, 12])]

In [ ]:
#7.) Results: Observations of alcohol, deli, beverages, and meat/seafood purchases
df_prods_alcohol_deli_beverages_meat_seafood

#### 8.) The last dataframe (df_prods_alcohol_deli_beverages_meat_seafood) has 7,650 rows.

In [ ]:
#9.) Information for user_id of 1

In [ ]:
df_user_id = df_ords.loc[df_ords['user_id'].isin([1])]

In [ ]:
df_user_id

In [ ]:
df_ords_user1 = df_ords[df_ords['user_id'] == '1']

In [ ]:
df_ords_user1

In [ ]:
#10.) I have no data for user_id with value of '1'

In [29]:
path = (r'C:\Users\dmlos\Instacart Basket Analysis')

In [32]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data','orders_checked.csv'))

In [33]:
df_dep_t_new.to_csv(os.path.join(path, '02 Data','Prepared Data','departments_checked.csv'))