# 1.) Importing Libraries

In [3]:
# importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# 2.) Importing Dataframe(s)

In [4]:
#Create a path and print it to verify that we've established the correct path
path = r'C:\Users\dmlos\Instacart Basket Analysis'
print(path)

C:\Users\dmlos\Instacart Basket Analysis

In [5]:
#Import the customers.csv
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

In [6]:
#Check the statistics of the dataframe
df_customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [7]:
#Check the data types contained in the dataframe
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [8]:
#Check the dataframe
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [43]:
#Check the dataframe
df_customers.shape

(206209, 10)

# 3.) Wrangling Data Within The Dataframe

In [51]:
#Rename columns for improved readability
df_customers = df_customers.rename(columns={'Surnam': 'Surname', 'STATE':'State', 'date_joined':'Date_Joined', 'n_dependants':'Number_Dependants', 'fam_status':'Family_Status', 'income':'Income'})

In [52]:
#Checking the new column titles
df_customers.head(5)

,User_ID,First Name,Surname,Gender,State,Age,Date_Joined,Number_Dependants,Family_Status,Income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [56]:
df_customers = df_customers.rename(columns={'User_ID': 'user_id'})

In [57]:
df_customers.head(5)

,user_id,First Name,Surname,Gender,State,Age,Date_Joined,Number_Dependants,Family_Status,Income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

# 4.) Data Consistency Checks

In [58]:
#Check for duplicate rows
df_dups = df_customers[df_customers.duplicated()]

In [59]:
df_dups

Empty DataFrame
Columns: [user_id, First Name, Surname, Gender, State, Age, Date_Joined, Number_Dependants, Family_Status, Income]
Index: []

There are no duplicates in the dataset.

In [60]:
#Check for missing values in the dataset
df_customers.isnull().sum()

user_id              0
First Name           0
Surname              0
Gender               0
State                0
Age                  0
Date_Joined          0
Number_Dependants    0
Family_Status        0
Income               0
dtype: int64

There are missing values in the First Name column.

In [61]:
#Fill in empty first name entries with "n/a"
df_customers['First Name'].fillna('n/a', inplace=True)

In [62]:
#Check that the imputed values made it in now.
df_customers.isnull().sum()

user_id              0
First Name           0
Surname              0
Gender               0
State                0
Age                  0
Date_Joined          0
Number_Dependants    0
Family_Status        0
Income               0
dtype: int64

In [63]:
#Check for mixed-data type.
for col in df_customers.columns.tolist():
    weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis=1)
    if len (df_customers[weird]) > 0:
        print (col)

# 5.) Combine Customer Data with Prepared Instacart Data

In [64]:
#Create path for the importation of the df_ords_prods_merged_customer_frequency_&_spending data
path = r'C:\Users\dmlos\Instacart Basket Analysis'

In [65]:
#Import the ords_prods_merged_customer_frequency_&_spending.pkl file
df_ords_prods_merged_customer_frequency_spending = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_customer_frequency_&_spending.pkl'))

In [24]:
df_ords_prods_merged_customer_frequency_spending.head(5)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,busiest_day,busiest_days,busiest_hours,busiest_periods,max_order,loyalty_flag,average_customer_price_per_order,spending_flag,median_days_since_prior_order,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Regularly busy,Regular days,Most orders,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Regularly busy,Regular days,Average orders,Average orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Busiest day,Busiest days,Average orders,Average orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Regularly busy,Slowest days,Most orders,Most orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Least busy,Slowest days,Average orders,Average orders,3,New customer,4.972414,Low spender,9.0,Frequent customer

In [66]:
#Merge the datasets
df_ords_prods_merged_customer_frequency_spending_2 = pd.merge(df_ords_prods_merged_customer_frequency_spending, df_customers, on = 'user_id', how = 'outer')

In [67]:
#View the newly-merged dataset
df_ords_prods_merged_customer_frequency_spending_2.head(5)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,frequency_flag,First Name,Surname,Gender,State,Age,Date_Joined,Number_Dependants,Family_Status,Income
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
2,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,13,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
3,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
4,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620

In [68]:
#View the dimensions of the newly-merged dataset
df_ords_prods_merged_customer_frequency_spending_2.shape

(32434212, 32)

In [69]:
#Examine the data types of the columns in the new dataset
df_ords_prods_merged_customer_frequency_spending_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434212 entries, 0 to 32434211
Data columns (total 32 columns):
 #   Column                            Dtype
---  ------                            -----
 0   product_id                        int32
 1   product_name                      object
 2   aisle_id                          int64
 3   department_id                     int64
 4   prices                            float64
 5   order_id                          int32
 6   user_id                           int64
 7   order_number                      int64
 8   orders_day_of_week                int64
 9   order_hour_of_day                 int64
 10  days_since_prior_order            float64
 11  add_to_cart_order                 int32
 12  reordered                         int8
 13  busiest_day                       object
 14  busiest_days                      object
 15  busiest_hours                     object
 16  busiest_periods                   object
 17  max_order                         int64
 18  loyalty_flag                      object
 19  average_customer_price_per_order  float64
 20  spending_flag                     object
 21  median_days_since_prior_order     float64
 22  frequency_flag                    object
 23  First Name                        object
 24  Surname                           object
 25  Gender                            object
 26  State                             object
 27  Age                               int64
 28  Date_Joined                       object
 29  Number_Dependants                 int64
 30  Family_Status                     object
 31  Income                            int64
dtypes: float64(4), int32(3), int64(10), int8(1), object(14)
memory usage: 7.4+ GB

In [ ]:
#Drop Unnecessary Columns

In [77]:
#Export the dataframe as pickle file
df_ords_prods_merged_customer_frequency_spending_2.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords_prods_merged_customer_frequency_spending_2.pkl'))